body {
     padding-bottom: 70px;
    background-image: url(Assets/Images/Background.jpg);    
    background-size:cover;
    background-repeat: no-repeat;        
    position: relative;        
    width: 85%;            
    height: 610px;       
    margin-left: auto;      
    margin-right: auto;  
}

.jumbotron {
   background: rgb(200, 54, 54); /* This is for ie8 and below */
   background: rgba(200, 54, 54, 0.5); 
    display: inline-block;
    border: solid #000000 1px;
}
.table-borderless tbody tr td{
    border: none;
}
.colrocs{
    background: rgb(200, 54, 54); /* This is for ie8 and below */
   background: rgb(255, 216, 0)
}

.textstyle{
    font-family:Rockwell Extra Bold;
    font-style: italic;

}
.textstyle2{
    font-size: large;
    font-family:'Goudy Stout';
}

.textstyle3{
    font-size:large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
