/*Subject : Web Application
        Name: Bhavin Master
        Student No: 300861065
        Assignment 1
        File Name : StyleSheet.css
        This file include cascading style sheet for project.*/



body {
    padding-bottom: 70px;
    background-image: url(Assets/Images/Background.jpg);    
    background-size:cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
    position:relative;             
    width: 85%;            
    height: 610px;       
    margin-left: auto;      
    margin-right: auto;

}

p{
    color:white;
}

.jumbotron-special {
   background: rgb(200, 54, 54); /* This is for ie8 and below */
   background: rgba(128, 128, 128,0.5); 
    border: solid #000000 1px;
    }
.jumbotron-special3 {
    background: rgb(200, 54, 54); /* This is for ie8 and below */
   background: rgba(200, 54, 54, 0.5); 
   border: solid #000000 1px;
}
.jumbotron-special4 {
    background: rgba(200, 54, 54,0.0); /* This is for ie8 and below */
   background: rgba(200, 54, 54, 0.0); 
   
}
.jumbotron-image{
     background:url(Assets/Images/Services-banner.jpg);
     background-size:cover;
}
.jumbotron-special2{
    display: inline-block;
}
.table-borderless tbody tr td{
    border: none;
    position: relative;
}
.colrocs{
    background: rgb(200, 54, 54); /* This is for ie8 and below */
   background: rgb(255, 216, 0)
}

.textstyle{
    font-family:Rockwell Extra Bold;
    font-style: italic;

}
.textstyle2{
    font-size: large;
    font-family:'Goudy Stout';
}

.textstyle3{
    font-size:large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.facebookLogoDiv{
    height:40px;
    width:40px;
    display:inline-block;
}
.linkdinLogoDiv{
    height:40px;
    width:40px;
    display:inline-block;
    margin-left:15px;
}


.test {
   height: 295px;
   background-size: auto;
}